@charset "utf-8";
/* CSS Document */

.TituloDerivado {
	font-size: xx-large;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}
.Navegacion {font-size: medium; font-family: Arial, Helvetica, sans-serif; }
.Banner {font-size: xx-large; font-family: Arial, Helvetica, sans-serif; }
.TextoInfo {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
.subTitulos {font-size: 18px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.TitulosDeInfo {font-family: Arial, Helvetica, sans-serif; font-size: large;}
.style6 {font-size: medium; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
#ventana {
    text-align: center;
    font-size:16px;
	background-color:#FFFFFF;
	margin:auto;
	margin-top:5%;
	margin-bottom:30px;
	margin-right:25%;
	margin-left:20%;
	border-color:#0066FF;
	border-width:1px;
	border-style:solid;
	max-width:650px;
	min-width:550px;
	max-height: 550px;
	min-height: 300px;
}

#banner {
    text-align: left;
	margin-top:5%;
	margin-bottom:0%;
	margin-right:10%;
	margin-left:10%;
	height:100px;
	background-color:#FFFFFF;
    font-size:18px;
}

#regresar {
	background-image:url(../imagenes/backBoton.png);
	background-repeat:no-repeat;
	margin-top:0px;
	margin-bottom:auto;
	margin-left:0px:
	margin-right:60%;
	height:80px;
	width:118px;
	position:absolute;
	background-color: #999999;
}

#botones {
	background-image:url(../imagenes/boton2.png);
	background-position:center;
	background-repeat:no-repeat;
	margin-top: 5%;
	margin bottom:auto;
	margin-right: 30%;
	margin-left:30%;
	height:40px;
	width:200px;
	padding: 10px;
	text-align: center;
}

#botonesJuego {
	background-image:url(../imagenes/boton2.png);
    margin-left: 15%;
	width: 70%;
	margin-top: 10px;
	font-size: 30px;
}

#datos {
	margin-top:5%;
	margin-right:0px;
	margin-left:0px;
	padding-bottom: 5%;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:large;
	border-top-color:#0066FF;
	border-top-width:1px;
	border-top-style:solid;
	border-bottom-color:#0066FF;
	border-bottom-width:1px;
	border-bottom-style:solid;
}
