@charset "utf-8";
/* CSS Document */
.TituloDerivado {
	font-size: x-large;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}
.Navegacion {font-size: medium; font-family: Arial, Helvetica, sans-serif; }
.Banner {font-size: xx-large; font-family: Arial, Helvetica, sans-serif; }
.TextoInfo {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.subTitulos {font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.TitulosDeInfo {font-family: Arial, Helvetica, sans-serif; font-size: large;}
.style6 {font-size: medium; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
#ventana {
	border-style:solid;
	border-width: 1px;
	border-color: black;
	background-color:#FFFFFF;
	margin:auto;
	margin-top:0%;
	margin-bottom:30px;
	margin-right:25%;
	margin-left:25%;
	height:500px;

}
#banner {
	margin-top:5%;
	margin-bottom:auto;
	margin-right:10%;
	margin-left:10%;
	height:100px;
	background-color:#FFFFFF;

}
#regresar {
	margin-top:0px;
	margin-bottom:auto;
	margin-left:0px:
	margin-right:60%;
	height:60px;
	width:100px;
	position:absolute;
}
#botones {
	margin-top: 5%;
	margin bottom:auto;
	margin-right: 30%;
	margin-left:30%;
	height:50px;
}

#datos {
	margin-top:5%;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;
	height:300px;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:large;
}